.header {
  display: flex;
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 20px;
  border-bottom: 1px solid #21212166;
  margin-bottom: 20px;
}

.header__new-post {
  align-self: flex-end;
}

.header__new-post-button {
  background-color: #212121;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 18px 24px 18px 32px;
}

.header__new-post-text {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #fcf5e5;
  text-decoration: none;
}
