.profile {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.profile__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121B2;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-link {
  display: flex;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  opacity: .7;  
  text-decoration: none;
}

.profile__edit-link:hover {
  opacity: 1;
}

@media screen and (min-width: 320px) and (max-width: 630px) {
  .profile {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }  

  .profile__avatar {
    width: 80px;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 12px;
  }

  .profile__info {
    gap: 6px;
  }

  .profile__name {
    font-size: 20px;
  }

  .profile__edit {
    padding-top: 32px;
    align-self: center;
  }
}