.profile {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 34px;
  padding-bottom: 20px;
  border-bottom: 1px solid #21212166;
  margin-bottom: 20px;
}

.profile__avatar {
  width: 190;
  height: 190px;
  border-radius: 8px;
}

.profile__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
}

.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121B2;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  border: none;
  padding: 0;
  margin-top: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  background-color: #FCF5E5;
  opacity: .7;  
}

.profile__edit-button::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/edit-pencil.svg);
  background-repeat: no-repeat;
  background-color: #fcf5e5;
  color: #212121;
  text-decoration: none;
  display: inline-block;
  padding-right: 8px;
  vertical-align: bottom;
}

.profile__edit-button:hover {
  opacity: 1;
  cursor: pointer;
}

.profile__new-post-button {
  margin-left: auto;
  align-self: flex-end;
  content: "";
  background-color: #212121;
  color: #FCF5E5;
  border-radius: 8px;
  font-size: 16px;
  padding: 18px 24px 18px 32px;
  text-decoration: none;
  white-space: nowrap;
  border: none;
}

.profile__new-post-button::before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url(../images/add-sign.svg);
  background-repeat: no-repeat;
  padding-right: 8px;
  vertical-align: bottom;
}

.profile__new-post-button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 630px) {
  .profile {
    padding: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0;
  } 

  .profile__content {
    gap: 6px;
  }  

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 12px;
  }

  .profile__name {
    font-size: 20px;
  }

  .profile__edit-button {
    padding-top: 24px;
    margin: auto auto 0;
  }

  .profile__new-post-button {
    align-self: center;
    padding: 20px 0;
    margin: 20px 0;
    width: 288px;
  }
}