.form__label {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #212121b2;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}

.form__input {
  padding: 16px 12px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #212121;
  border: 1px solid #21212166;
  border-radius: 8px;
  box-sizing: border-box;
}

.form__input::placeholder {
  color: #2121214d;
}

.form__input:hover {
  border-color: #212121;
}

.form__input:focus {
  border: none;
}

.form__input_type_error {
  border-color: #FF000099;
}

.form__input-error {
  visibility: hidden;
  font-family: Poppins;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 1.1;
  /* letter-spacing: 0%; */
  color: #FF0000B2;
}

.form__input-error_active {
  visibility: visible;
}

.form__btn {
  background-color: #212121;
  color: #fcf5e5;
  width: 156px;
  height: 52px;
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border: none;
}

.form__btn:hover {
  cursor: pointer;
  background-color: #212121CC;
}

.form__btn_disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.form__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.form__btn_type_confirm-delete {
  background-color: #FF6565;
  color: #212121
}

.form__btn_type_confirm-delete:hover {
  background-color: #FF3333;
  cursor: pointer;
}

.form__btn_type_cancel {
  border: 1px solid #212121;
  background-color: #fff;
  color: #212121;
}

.form__btn_type_cancel:hover {
  background-color: #212121;
  color: #FFFFFF;
  cursor: pointer;
  border: 1px solid #212121;
}


@media screen and (min-width: 320px) and (max-width: 630px) {
  .form__input {
    font-size: 16px;
  }
  .form__btn {
    width: 100%;
    padding: 18px 32px;
  }

  .form_label {
    margin-bottom: 24px;
  }

  .form__label_type_edit-avatar {
    margin-bottom: 20px;
  }

  .form__buttons {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .form__btn_type_confirm-delete, .form__btn_type_cancel {
    width: 156px;
  }
}
